<%- contentFor('titlu') %>
Camera de joacă

<%- contentFor('continutHeader') %>
Jocul a început!

<%- contentFor('continutCSSSpecific') %>
<link rel="stylesheet" href="/css/gameRoom.css">

<%- contentFor('continutPrincipal') %>
<div id="participantsGame-container">
    <ol id="participanti" class="gameRoomParticipants">
        <% for(var p in participants) { %>
        <li>
            <div class="numeParticipant"> <%=participants[p]%> </div>
            <div class="score">Scor:<div class="scorParticipant">0</div>
            </div>
        </li>
        <% } %>
    </ol>
</div>

<div id="cuvinte"></div>

<div id="gameRoomInfo">
    <div class="table-container">
        <div class="table-row">
            <div id="prompt"></div>
            <div id="round"></div>
            <div id="timer"></div>
        </div>
    </div>

</div>

<div id="gameArea">
<div id="flex-cont">
        <div id="drawGameRoom">
            <h3>Zonă de desenat</h3>
            <canvas class="whiteboard"></canvas>
        </div>
        <div id="zonaChatGameRoom">
            <h3>Chat:</h3>
            <div class="zonaChat">
                <ul class="mesaje"></ul>
            </div>
            <input id="inputMesaj" placeholder="Scrie..." /> <div id="charactersLeft">0/50</div>
        </div>
</div>
</div>

<div class="colors">
    <div class="color black" id="toolBorder"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color yellow" ></div>
</div>
<button id="clearButton" onclick="clearWhiteBoard()">Șterge tot!</button>

<div class="pencilDimensions">
    <img class="dimension small" src="/images/s3.png" alt="mic">
    <img class="dimension medium" src="/images/s1.png" alt="med">
    <img class="dimension large" src="/images/s2.png" alt="mare">
    <img class="eraser" src="/images/eraser.png" alt="radiera">
</div>


<button id="disconnectButton" onclick="disconnect()">Ieșire!</button>